<!-- Mobile Menu -->
<div class="mobile-menu-container">
  <div class="mobile-menu-close"></div>
  <div id="mobile-menu-wrap"></div>
</div>
<!-- Mobile Menu End -->

<header class="header sticky-top">
  <div class="main-header">
    <div class="container">
      <nav class="navbar main-navigation">
        <div class="logo">
          <a href="index.html" class="navbar-brand"
            ><img src="../../../assets/icon/LOGO.png" alt="Logo Image"
          /></a>
        </div>
        <button class="mobile-menu-trigger">
          <span></span>
          <span></span>
          <span></span>
        </button>
        <div class="header-navigation-area">
          <ul id="main-menu" class="menu m-0">
            <li class="menu-item-has-children">
              <a href="#social-activity">સેવાકીય પ્રવૃત્તિ </a>
            </li>
            <li><a href="#extra-activity">સામાજિક પ્રવૃત્તિ</a></li>
            <li><a href="#gallery">ગેલેરી</a></li>
            <li><a href="#contact">સંપર્ક</a></li>
            <li><a href="#">Donate us</a></li>
            <div class="d-none social-icon">
              <a href=""><i class="fa fa-facebook"></i></a>
              <a href=""><i class="fa fa-twitter"></i></a>
              <a href=""><i class="fa fa-instagram"></i></a>
              <a href=""><i class="fa fa-github"></i></a>
              <a href=""><i class="fa fa-linkedin"></i></a>
            </div>
            <li>
              <a href="../../../assets/brochure.pdf" download>સારહી તપોવન આશ્રમ બ્રોશર</a>
            </li>
          </ul>
        </div>
        <div class="reg-no">REG. NO : F/372/Amreli</div>
      </nav>
    </div>
  </div>
</header>