<footer id="contact">
  <div class="footer-top container">
    <div class="row align-items-end">
      <div class="col-lg-9">
        <div class="footer-logo mb-4">
          <img src="images/icon/LOGO.png" alt="" class="img-fluid" />
        </div>
        <ul class="nav-links footer-links">
          <li><a href="index.html">સારહી યુથ ક્લબ</a></li>
          <li><a href="sevakiya-aavruti.html">સેવાકીય પ્રવૃત્તિ</a></li>
          <li><a href="samajik-pravuti.html">સામાજિક પ્રવૃત્તિ</a></li>
          <li><a href="#">ગેલેરી</a></li>
          <li><a href="#">સંપર્ક</a></li>
          <li><a href="">Donate us</a></li>
          <li>
            <a href="images/brochure.pdf" download="tapovan-brochure.pdf"
              >સારહી તપોવન આશ્રમ બ્રોશર</a
            >
          </li>
        </ul>
      </div>
      <div class="col-lg-3">
        <div class="address">
          <h6>Contact us</h6>
          <img src="images/icon/Location.png" alt="" />
          <a href="">સારહી યુથ ક્લબ, અમરેલી 365601</a>
        </div>
      </div>
    </div>
  </div>
  <hr class="m-0" />
  <div class="footer-bottom">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <p>© 2022 સારહી યુથ ક્લબ. All rights reserved.</p>
        </div>
        <div class="col-md-6 social-icon">
          <ul class="m-0 p-0">
            <li>
              <a href=""><i class="fa fa-facebook"></i></a>
            </li>
            <li>
              <a href=""><i class="fa fa-twitter"></i></a>
            </li>
            <li>
              <a href=""><i class="fa fa-instagram"></i></a>
            </li>
            <li>
              <a href=""><i class="fa fa-github"></i></a>
            </li>
            <li>
              <a href=""><i class="fa fa-linkedin"></i></a>
            </li>
          </ul>
        </div>
        <div class="col-md-12">
          <div class="developed-by-text text-center">
            <a href="https://www.doubledotts.com" class="text-white"
              >Developed by Doubledotts</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
